/*save test*/
body {
    background-color: #2d2d2d;
}
.div_mit_background {
    margin-right: auto;
    margin-left: auto;
    
    max-width: 1224px;
    width: 100%;
    background: url("../images/back_all_img.jpeg") top center;

height: 100%;
padding-top:15px;
}
p{
  color: #ffffff;
/* width:1000px;*/
}

.nav>li>a>img{
    width: 35px;

}
/*body {
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	color: #fafcfb;
	background: url("../images/back_all_img.jpeg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
*/
body.open-page {
	background: url("../images/back_open.png") no-repeat center center fixed;
	background-size: cover;
}

.footer-text {
	/*margin-top: 50px;*/
	text-align: right;
color: #ffffff;
}


.welcome-img {
	position: fixed;
	bottom: 200px;
	margin-right: auto;
	margin-left: auto;
	left: 50%;
	transform: translateX(-50%);
/*    width: 100%;*/
 /*   height: 100%;*/
}

.social-header {
	text-transform: uppercase;
	font-family: P22Lindum;
}

.enter-btn {
	min-width: 310px;
	border: none;
	background-color: rgba(00, 00, 00, 0.6);
	width: 200px;
	height: 60px;
	padding-top: 15px;
	font-size: 22px;
	font-family: P22Lindum;
	position: fixed;
	bottom: 120px;
	margin-right: auto;
	margin-left: auto;
	left: 50%;
	transform: translateX(-50%);
}

.coming-soon-text {
	padding-top: 15px;
	font-size: 18px;
	font-family: P22Lindum;
	position: fixed;
	bottom: 60px;
	margin-right: auto;
	margin-left: auto;
	left: 50%;
	transform: translateX(-50%);
}

.enter-fb-icon {
	position: fixed;
	bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	left: 50%;
	transform: translateX(-50%);
}

.btn.enter-btn:hover {
	color: #ffffff;
}

.row {
	margin: 0;
}

a {
	color: #fafcfb;
}

a.active, a:hover  {
	color: #ce813b;
}

h1 {
	margin: 0px;
}

p {
	font-size: 14px;
}

kix{
font-size: 18px;
}

credits{
font-size: 20px;
line-height: 1;
}
a:hover {
	text-decoration: none;
}

hr {
	border-top: 1px solid #22161a;
}

.btn-buy-ticket {
	max-width: 45%;
}

.link-buy-ticket {
	max-width: 45%;
	display: block;
	margin-bottom: 30px;
}

.content-block.content-tickets {
	padding-top: 10px;
}

.contact-form {
	margin-top: 25px;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 45%;
    left: 27.5%;
}

.footer-another p {
	text-align: right;
	text-transform: uppercase;
	font-size: 12px;
}

.footer p {
	text-align: right;
	text-transform: uppercase;
	font-size: 12px;
}

.slide-img {
	max-height: 200px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
	color: #ffffff;
}

.slick-dots li button:before {
    font-size: 12px;
}

.slick-dots {
    bottom: 0px;
}

.slick-prev, .slick-next {
	height: 100%;
	top: 0px;
	/*background-color: #39222a;*/
	margin-top: 0px;
}

/*.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	background-color: #39222a;
}*/

.slideshow-fest {
	max-height: 200px;
}

.logo {
	margin-top: 10px;
}

.img-top {
	margin-top: 10px;
	margin-bottom: 20px;
}
.navbar-fixed-top .navbar-collapse{
   max-height: none !important;
}
.nav-wrapper {
	width: 50%;
	margin: 0 auto;
}

.nav-wrapper a {
	width: 24%;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    height: 25px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.vcenter {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 90%;
	margin: auto;
}
.air{
    height: 200px;
    //border:solid;
}
fix{
    font-size: 22px;
}
nav {
	background-color: #39222a;
	font-family: 'Cabin Condensed', sans-serif;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
	margin-left: 205px;
	margin-top: 30px;

}

.navbar .navbar-collapse {
  text-align: center;
}

.text {
	text-align: center;
}

p.text-prev1 {
	font-size: 18px;
        color: #ffffff;
font-family: P22Lindum;
	font-weight: normal;
	font-style: normal;
margin-bottom: 15px;
}

p.text-prev2 {
	font-size: 18px;
        color: #000000;
font-family: P22Lindum;
	font-weight: normal;
	font-style: normal;

}
p.text-head1 {
	color: #ffffff;
	font-size: 24px;
	text-transform: uppercase;
	font-family: P22Lindum;
	font-weight: normal;
	font-style: normal;
	margin-top: 15px;
}
p.text-head2 {
    color: #FFA500;
    font-size: 36px;
    //text-transform: uppercase;
font-family: P22Lindum;
	font-weight: normal;
	font-style: normal;
}
p.text-main {
    font-size: 22px;
font-family: P22Lindum;
	font-weight: normal;
	font-style: normal;

}

.separate-line {
	width: 50%;
	border-top: 1px solid #ffffff;
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn-lg {
	border-radius: 0;
}

.btn-main {
	font-size: 18px;
	text-transform: uppercase;
	font-family: P22Lindum;
	font-weight: normal;
	font-style: normal;
	/*padding-left: 40px;
	padding-right: 40px;*/
	background-color: #03afbb;
	margin-bottom: 30px;

}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: #296e5b;
}

.image-header {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 25px;
}

h1.main-header {
	font-family: P22Lindum;
	font-size: 24px;
	color: #00cc99;
	text-transform: uppercase;
	margin-bottom: 25px;
}

h1.main-header.sun {
	color: #ffcc33;
}

.sun .navbar-default .navbar-nav>.active>a,
.sun .navbar-default .navbar-nav>.active>a:hover,
.sun .navbar-default .navbar-nav>li>a:hover {
	color: #ffcc33;
}

.sun .dropdown-menu>.active>a,
.sun .dropdown-menu>.active>a:focus,
.sun .dropdown-menu>.active>a:hover,
.sun .dropdown-menu>li>a:focus,
.sun .dropdown-menu>li>a:hover {
	background-color: #BD9F45;
}

h1.main-header.sacred {
	color: #33cc00;
}

h2.sacred {
	font-family: P22Lindum;
	font-size: 20px;
	color: #0099cc;
}

.btn.btn-default.btn-submit {
	font-family: P22Lindum;
	color: #ffffff;
	background-color: #0099cc;
	border: none;
}

label {
	font-family: P22Lindum;
	margin-bottom: 10px;
        color: #ffffff;
}

.enter-main-text {
	position: fixed;
	bottom: 200px;
	margin-right: auto;
	margin-left: auto;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-family: P22Lindum;
	font-size: 42px;
}

.form-control {
	margin-bottom: 20px;
}

.btn-main.sacred {
	margin-bottom: 0;
	margin-top: 20px;
}

.sacred .dropdown-menu>.active>a,
.sacred .dropdown-menu>.active>a:focus,
.sacred .dropdown-menu>.active>a:hover,
.sacred .dropdown-menu>li>a:focus,
.sacred .dropdown-menu>li>a:hover {
	background-color: #437D2F;
}

h1.main-header.main-color {
	color: #ffcb27;
}

h1.main-header.green {
	color: #00cc99;
	margin-top: 25px;
}

h1.main-header.ticket {
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 40px;
}

h1.main-header.media {
	text-transform: none;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 40px;
}

h1.main-header.events {
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 40px;
	color: #0099cc;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.promo-wrapper {
	margin: 30px;
}

.main-color {
	color:  #ffcb27;
}

.btn-main.btn-ticket {
	margin-top: 60px;
}

a.btn-main.btn-ticket:hover {
	background-color: #0dbf9f;
}

h2.sub-header {
	font-family: P22Lindum;
	text-transform: uppercase;
	font-size: 20px;
}

h2.sub-header.media {
	font-family: P22Lindum;
	text-transform: none;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 15px;
	color: #ffcb27;
}

h2.sub-header.green {
	color: #00cc99;
}

h2.sub-header.yellow {
	color: #ffff33;
}

h2.sub-header.blue {
	color: #0099cc;
}

.mt-25 {
	margin-top: 25px;
}

.artist-tumb {
	padding: 10px;
	background-color: rgba(00, 00, 00, 0.6);
}

.artist-name {
	font-family: P22Lindum;
	text-transform: uppercase;
	font-size: 18px;
}
.artist-name-long {
	font-family: P22Lindum;
	text-transform: uppercase;
	font-size: 16px;
}
.artist-name-normal {
	font-family: P22Lindum;
	/*text-transform: uppercase;*/
	font-size: 20px;
}


.artist-info {
	padding-top: 15px;
	margin-bottom: 15px;
	height: 50px;
}

.media-info {
	padding-top: 15px;
	margin-bottom: 15px;
	font-family: P22Lindum;
	text-transform: uppercase;
	font-size: 18px;
        color: #ffffff;
}

.mh-28 {
	max-height: 28px;
}

p {
	font-family: P22Lindum;
}

.content {
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 100px;
}

.navbar-nav li a {
	line-height: 30px;

	padding-top: 0;
	font-size: 18px;
	text-transform: uppercase;
	font-family: P22Lindum;
	font-weight: normal;
	font-style: normal;
	padding-left: 20px;
	padding-right: 20px;
}

div.slick-slide:focus {
	outline:none !important;
}

div.slick-slide img:focus {
	outline:none !important;
}

.content-block {
	background-color: rgba(00, 00, 00, 0.6);
	padding: 25px;
}

.img-menu.img-menu-fb {
	vertical-align: baseline;
	margin-left: 15px;
}

.content-block.content-without-bg {
	background-color: initial;
}
.content-with-bg {
	background-color: rgba(57, 34, 42, 0.5);
}

.phase-1 {
	background-color: rgba(255, 00, 00, 0.1);
}

.phase-2 {
	background-color: rgba(255, 255, 00, 0.1);
}

.phase-3 {
	background-color: rgba(3, 175, 187, 0.1);
}

.phase-4 {
	background-color: rgba(00, 255, 00, 0.1);
}

.table-price {
	border-collapse: separate;
	border-spacing: 0 15px;
}

.wrapper-location-page {
	overflow: hidden;
}

#fb-feed {
	margin-top: 30px;
	overflow: hidden;
}

.fb-post {
    padding: 40px;
}

.fb-img {
	margin-bottom: 20px
}


.right-block {
	padding-right: 30px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
	color: #ce813b;
	background-color: #333333;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

h1, h2, h3, h4, h5, h6, .text-head {
	font-family: 'Cabin Condensed', sans-serif;
}

.navbar-nav>li>a {
//	font-family: 'Cabin Condensed', sans-serif;
	font-size: 18px;
    text-transform: uppercase;
font-family: P22Lindum;
	font-weight: normal;
	font-style: normal;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-main {
	background-color: #333333;
}

.img-menu {
	max-height: 25px;
    vertical-align: text-top;
}

.form-control {
	border-radius: 0px;
}

.btn.btn-default.btn-submit {
	border-radius: 0px;
}

.modal-open .modal {
	overflow-x: auto;
    overflow-y: auto;
}

.modal.in .modal-dialog {
	width: auto !important;
}

.navbar-default {
	border-color: #333333;
}

.right-block {
    padding-right: 15px;
}

.table-price {
	margin-top: 30px;
}

.read-more {
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border: none;
	font-size: 21px;
}

@media (min-width: 1367px) {
	.navbar .navbar-nav {
		margin-top: 30px;
	}
}

/* Edit; 768 -> 1223 to fix breakpoint */
@media (max-width: 1223px){
    .logo-small { display: block !important }
    .logo-big { display: none !important;}
}
@media (min-width: 1223px){
    .logo-big { display: block !important }
    .logo-small { display: none !important;}
}

.logo-big {
}

/* Edit; 768 -> 1223 to fix breakpoint */
@media (min-width: 1223px) {
 .navbar-brand{
    position: absolute;
    height: auto;
    margin: 0 !important;
    padding: 0;
    top: 10px;
    left: 10px;
 }

 .navbar-main {
    margin-right: auto;
    margin-left: auto;
    border-radius: 0;
    height: 100px;
    width: 1224px;
    /*position:center;*/
    min-height: 100px;
    opacity: 0.8; 
 }

	.navbar-brand>img {
		max-height: 80px;
	}

	.navbar-nav li a {
    	line-height: 30px;
    	height: 30px;
    	padding-top: 0;
	}

	.border-right {
		border-right: 1px solid #ffffff;
	}
}



.iframe-rwd  {
	position: relative;
	padding-bottom: 30px;
	padding-top: 30px;
	height: 400px;
	overflow: hidden;
	max-height: 400px;
}

.iframe-rwd iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 400px;
}

li.fb-link-wrap {
	position: absolute;
    left: 75%;
}

.mw-42 {
	max-width: 42px !important;
}

.plr-5 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.pl-5 {
	padding-left: 5px !important;
}

.pt-5 {
	padding-top: 5px !important;
}

.p35 {
	padding: 35px;
}

.pt-150 {
	padding-top: 200px;
}

.pt-0 {
	padding-top: 0;
}

.mt-110 {
	margin-top: 110px;
}

.content-block.mh-200 {
	min-height: 200px;
}

.orange {
	color: #ffcc33;
   position: relative;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #ce813b;
	background-color: #333333;
}

.dropdown-menu {
	background-color: #333333;
}

.dropdown-menu>li>a {
	color: white;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: #296e5b;
}

h1.orange:after {
	position: absolute;
	top: 49%;
	height: 1px;
	content: '';
        left: 125px;
        right: 0;
	background-color: #ffcc33;
}

.form-group.row {
	margin-right: -15px;
	margin-left: -15px;
}


.img-feed {
	width: 470px;
	height: 370px;
    background-size: 100% auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom center;
}
/* Edit by Martin; Here's the styling for date, title and text */
.feed-date {
    font-size: 10px;
    display: block;
    color: white;
    margin-top: 8px;
}
.feed-title {
    font-size: 18px;
    margin: 1em 0;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.feed-message {
	font-size: 15px;
    /* max-height 4em gives us room for about 3 lines of text */
	max-height: 4em;
	overflow-y: hidden;
    color: #ffffff;
    white-space: pre-wrap;
}


/*@media (min-width: 992px) and (max-width: 5000px) {
	.btn.btn-default.btn-submit {
		width: 120px;
	}
}

@media (max-width: 991px) {
	.btn.btn-default.btn-submit {
		margin-top: 20px;
		width: 120px;
	}

	li.fb-link-wrap {
		position: relative;
		left: initial;
	}

}
*/
/*denne er gjeldene!)*/

/* Copied from stackoverflow, changed to 1223px */
@media (max-width: 1223px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
