/**
 * @license
 * MyFonts Webfont Build ID 3110906, 2015-10-20T10:22:39-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: P22Lindum by IHOF
 * URL: http://www.myfonts.com/fonts/ihof/p22-lindum/regular/
 * Copyright: Copyright (c) 2003 by Ted Staunton. Distributed Exclusively by P22 type foundry/Sherwood Type.. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3110906
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2f77fa");

  
@font-face {font-family: 'P22Lindum';src: url('webfonts/2F77FA_0_0.eot');src: url('webfonts/2F77FA_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F77FA_0_0.woff2') format('woff2'),url('webfonts/2F77FA_0_0.woff') format('woff'),url('webfonts/2F77FA_0_0.ttf') format('truetype');}
 